@use '../../styles/partials/mixins';
@use '../../styles/partials/colors-variables';
@use '../../styles/partials/typography';

.upload {
    border-top: 1px solid colors-variables.$secondary-color3;

    &--padding {
        @include mixins.mobile-padding;

        @include mixins.tablet {
            @include mixins.tablet-padding;
        }
        @include mixins.desktop {
            @include mixins.desktop-padding;
        }
    }
    &__header {
        @include mixins.mobile-pgheader;
        margin-top: 0rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid colors-variables.$secondary-color3;
    }
    &__subhead {
        @include mixins.mobile-subheader;
        color: colors-variables.$primary-color3;
        margin-bottom: 0.2rem;
        display: block;
    }
    &__image {
        border-radius: 4px;
        width: 100%;
        height: auto;
    }
    &__form {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        position: relative;

        &--title {
            @include mixins.mobile-subheader;
            color: colors-variables.$primary-color3;
        }
        &--text {
            padding-left: 0.7rem;
            @include mixins.text-borders;
            margin-bottom: 1rem;
            height: 2.25rem;
        }
        &--textarea {
            @include mixins.text-borders;
            padding-left: 0.7rem;
            padding-top: 0.5rem;
            resize: none;
            height: 5rem;
            margin-bottom: 1rem;
        }
        &--submit {
            @include mixins.mobile-button-label;
            background-color: colors-variables.$primary-color2;
            color: colors-variables.$primary-color4;
            border-radius: 4px;
            border-style: none;
            height: 2.25rem;
            margin-bottom: 1rem;

            &:hover {
                background-color: colors-variables.$secondary-color2;
            }
        }
        &--cancel {
            @include mixins.mobile-button-label;
            background-color: colors-variables.$primary-color4;
            color: colors-variables.$primary-color2;
            border-radius: 4px;
            border-style: none;
            height: 2.25rem;

            &:hover {
                background-color: colors-variables.$primary-color2;
                color: colors-variables.$primary-color4;
            }
        }
    }
}

// Icon Styling
.icon__publish {
    // background-color: black;
    position: absolute;
    bottom: 3.8rem;
    left: 0.5rem;
}