// Colors
$primary-color1: #323232; 
$primary-color2: #0095FF; 
$primary-color3: #AFAFAF;
$primary-color4: #FFFFFF;

$secondary-color1: #000000;
$secondary-color2: #0065AD;
$secondary-color3: #E1E1E1;
$secondary-color4: #FAFAFA;

// Variables
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;