*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0rem;
}

@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.navigation {
  padding: 1rem;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .navigation {
    padding: 1rem 2.25rem 1rem 2.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .navigation {
    padding: 1.5rem 5rem 1.5rem 5rem;
  }
}
.navigation__logo {
  width: 7.5rem;
  height: 1.56rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .navigation__logo {
    margin-bottom: unset;
  }
}
.navigation__input {
  position: relative;
}
@media screen and (min-width: 768px) {
  .navigation__input {
    display: flex;
  }
}
.navigation__input--search {
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  width: 81.5%;
  height: 2.25rem;
  margin-right: 1rem;
  padding-left: 2rem;
}
@media screen and (min-width: 768px) {
  .navigation__input--search {
    height: 2.5rem;
    margin-right: 1.5rem;
    width: auto;
  }
}
.navigation__input--file {
  display: none;
}
.navigation__input--label {
  background-color: #0095FF;
  color: #FFFFFF;
  display: block;
  width: 100%;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  margin-top: 1rem;
  text-align: center;
  border-radius: 4px;
  font-family: "AvenirNext";
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 700;
  text-decoration: none;
  border-style: none;
}
.navigation__input--label:hover {
  background-color: #0065AD;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .navigation__input--label {
    font-family: "AvenirNext";
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: bold;
    margin-top: unset;
    margin-right: 1.5rem;
    min-width: 9.37rem;
  }
}
@media screen and (min-width: 1280px) {
  .navigation__input--label {
    margin-right: 2rem;
  }
}
.navigation__input--profile {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  margin-left: auto;
  vertical-align: top;
}
@media screen and (min-width: 768px) {
  .navigation__input--profile {
    height: 2.5rem;
    width: 2.5rem;
    order: 3;
  }
}

input[type=file] {
  color: transparent;
}

*::-moz-placeholder {
  color: #000000;
  font-family: "AvenirNext";
  font-size: 0.82rem;
  line-height: 1.12rem;
  font-weight: normal;
}

*:-ms-input-placeholder {
  color: #000000;
  font-family: "AvenirNext";
  font-size: 0.82rem;
  line-height: 1.12rem;
  font-weight: normal;
}

*::placeholder {
  color: #000000;
  font-family: "AvenirNext";
  font-size: 0.82rem;
  line-height: 1.12rem;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  *::-moz-placeholder {
    font-family: "AvenirNext";
    font-size: 0.87rem;
    line-height: 1.375rem;
    font-weight: normal;
  }
  *:-ms-input-placeholder {
    font-family: "AvenirNext";
    font-size: 0.87rem;
    line-height: 1.375rem;
    font-weight: normal;
  }
  *::placeholder {
    font-family: "AvenirNext";
    font-size: 0.87rem;
    line-height: 1.375rem;
    font-weight: normal;
  }
}

a {
  display: flex;
}/*# sourceMappingURL=Navigation.css.map */