@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
*::-moz-placeholder {
  color: #000000;
  font-family: "AvenirNext";
  font-size: 0.82rem;
  line-height: 1.12rem;
  font-weight: normal;
}
*:-ms-input-placeholder {
  color: #000000;
  font-family: "AvenirNext";
  font-size: 0.82rem;
  line-height: 1.12rem;
  font-weight: normal;
}
*::placeholder {
  color: #000000;
  font-family: "AvenirNext";
  font-size: 0.82rem;
  line-height: 1.12rem;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  *::-moz-placeholder {
    font-family: "AvenirNext";
    font-size: 0.87rem;
    line-height: 1.375rem;
    font-weight: normal;
  }
  *:-ms-input-placeholder {
    font-family: "AvenirNext";
    font-size: 0.87rem;
    line-height: 1.375rem;
    font-weight: normal;
  }
  *::placeholder {
    font-family: "AvenirNext";
    font-size: 0.87rem;
    line-height: 1.375rem;
    font-weight: normal;
  }
}

@media screen and (min-width: 768px) {
  .video__container {
    background-color: #000000;
  }
}
.video__main {
  width: 100vw;
  height: auto;
}
@media screen and (min-width: 768px) {
  .video__main {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .video__main {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.video__details {
  padding: 1rem;
  padding-bottom: 0rem;
}
@media screen and (min-width: 768px) {
  .video__details {
    padding: 1rem 2.25rem 1rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .video__details {
    padding: 1.5rem 5rem 1.5rem 5rem;
    width: 100%;
    padding-right: 2rem;
    border-right: 1px solid #AFAFAF;
  }
}
.video__details--title {
  font-family: "AvenirNext";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #AFAFAF;
}
@media screen and (min-width: 768px) {
  .video__details--title {
    font-family: "AvenirNext";
    font-size: 2.06rem;
    line-height: 2.75rem;
    font-weight: bold;
    padding-bottom: 2rem;
    width: 104%;
  }
}
.video__details--comments {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #AFAFAF;
}
@media screen and (min-width: 768px) {
  .video__details--comments {
    bottom: 2.5rem;
    border: none;
  }
}
.video__details--channel {
  font-family: "AvenirNext";
  font-size: 0.82rem;
  line-height: 1.12rem;
  font-weight: normal;
  color: #AFAFAF;
}
@media screen and (min-width: 768px) {
  .video__details--channel {
    font-family: "AvenirNext";
    font-size: 0.87rem;
    line-height: 1.375rem;
    font-weight: normal;
    display: flex;
  }
}
.video__details--bold {
  font-weight: 700;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .video__details--bold {
    margin-right: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .video__details--paragraph {
    margin-right: 3rem;
  }
}
.video__description {
  font-family: "AvenirNext";
  font-size: 0.82rem;
  line-height: 1.12rem;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .video__description {
    font-family: "AvenirNext";
    font-size: 0.87rem;
    line-height: 1.375rem;
    font-weight: normal;
    margin-top: -2rem;
  }
}
@media screen and (min-width: 1280px) {
  .video__description {
    width: 95%;
  }
}
.video__comment--container {
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 1rem;
}
@media screen and (min-width: 1280px) {
  .video__comment--container {
    width: 104%;
  }
}
.video__comments {
  display: flex;
  flex-direction: column;
  position: relative;
}
.video__comments--profile {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  position: absolute;
  left: 0rem;
  top: 1.1rem;
}
@media screen and (min-width: 768px) {
  .video__comments--profile {
    width: 2.5rem;
    height: 2.5rem;
    top: 1.4rem;
  }
}
.video__comments--text {
  text-align: end;
  position: relative;
}
@media screen and (min-width: 768px) {
  .video__comments--text {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
  }
}
.video__comments--header {
  font-family: "AvenirNext";
  font-size: 0.82rem;
  line-height: 1.12rem;
  font-weight: normal;
  font-weight: 700;
  color: #AFAFAF;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .video__comments--header {
    font-family: "AvenirNext";
    font-size: 0.87rem;
    line-height: 1.375rem;
    font-weight: normal;
  }
}
.video__comments--textarea {
  height: 5rem;
  width: 82%;
  padding-bottom: 3rem;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .video__comments--textarea {
    height: 2.5rem;
    padding-bottom: 0rem;
    width: 66%;
  }
}
@media screen and (min-width: 1280px) {
  .video__comments--textarea {
    width: 70%;
  }
}
.video__comments--submit {
  background-color: #0095FF;
  color: #FFFFFF;
  font-family: "AvenirNext";
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 700;
  height: 2.25rem;
  width: 82%;
  margin-top: 1rem;
  border-radius: 4px;
  border: 1px solid #0095FF;
}
.video__comments--submit:hover {
  cursor: pointer;
  background-color: #0065AD;
}
@media screen and (min-width: 768px) {
  .video__comments--submit {
    width: auto;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    margin-top: 0rem;
    height: 2.5rem;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .video__comments--submit {
    margin-right: 1rem;
  }
}

.icon__views {
  position: absolute;
  bottom: 2.9rem;
  right: 4rem;
}
@media screen and (min-width: 768px) {
  .icon__views {
    bottom: 1.1rem;
    right: 10.5rem;
  }
}

.icon__likes {
  position: absolute;
  bottom: 1rem;
  right: 4rem;
}
@media screen and (min-width: 768px) {
  .icon__likes {
    bottom: 1rem;
    right: 3.5rem;
  }
}

.icon__comment {
  position: absolute;
  left: 21%;
  bottom: 0.3rem;
}
@media screen and (min-width: 768px) {
  .icon__comment {
    right: 6.8rem;
    left: unset;
    bottom: 0.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .icon__comment {
    right: 7.8rem;
  }
}

.comments {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 81%;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .comments {
    width: 90%;
  }
}
@media screen and (min-width: 1280px) {
  .comments {
    width: 92%;
  }
}
.comments__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.comments__name {
  font-family: "AvenirNext";
  font-size: 0.82rem;
  line-height: 1.12rem;
  font-weight: bold;
  color: #000000;
  position: relative;
}
.comments__date {
  font-family: "AvenirNext";
  font-size: 0.82rem;
  line-height: 1.12rem;
  font-weight: normal;
  color: #AFAFAF;
}
@media screen and (min-width: 768px) {
  .comments__date {
    font-family: "AvenirNext";
    font-size: 0.87rem;
    line-height: 1.375rem;
    font-weight: normal;
  }
}
.comments__profile {
  background-color: #E1E1E1;
  border-radius: 50%;
  height: 2.25rem;
  width: 2.25rem;
  position: absolute;
  left: -3.6rem;
  bottom: -1rem;
}
@media screen and (min-width: 768px) {
  .comments__profile {
    height: 2.5rem;
    width: 2.5rem;
    left: -4.3rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments__profile {
    right: 6.9rem;
    left: auto;
  }
}
.comments__paragraph {
  font-family: "AvenirNext";
  font-size: 0.82rem;
  line-height: 1.12rem;
  font-weight: normal;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .comments__paragraph {
    font-family: "AvenirNext";
    font-size: 0.87rem;
    line-height: 1.375rem;
    font-weight: normal;
  }
}
@media screen and (min-width: 1280px) {
  .comments__paragraph {
    width: 104%;
  }
}

.side {
  padding: 1rem;
  padding-top: 0rem;
}
@media screen and (min-width: 1280px) {
  .side {
    margin-right: 3.5rem;
  }
}
.side__container {
  padding-top: 0rem;
  display: flex;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .side__container {
    padding: 1rem 2.25rem 1rem 2.25rem;
    margin-bottom: 0rem;
  }
}
@media screen and (min-width: 1280px) {
  .side__container {
    margin-right: 0rem;
    padding-right: 0rem;
    padding-top: 0rem;
    padding-left: 0rem;
  }
}
.side__title {
  font-family: "AvenirNext";
  font-size: 0.82rem;
  line-height: 1.12rem;
  font-weight: bold;
  color: #AFAFAF;
  font-weight: 700;
  margin-top: 0rem;
}
@media screen and (min-width: 768px) {
  .side__title {
    font-family: "AvenirNext";
    font-size: 0.87rem;
    line-height: 1.375rem;
    font-weight: bold;
    padding-left: 2.25rem;
    margin-bottom: 0rem;
  }
}
.side__video {
  border-radius: 4px;
  width: 7.8rem;
  height: 4.5rem;
  margin-right: 1rem;
}
.side__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .side__content {
    width: 25%;
  }
}
@media screen and (min-width: 1280px) {
  .side__content {
    width: auto;
  }
}
.side__content--title {
  font-family: "AvenirNext";
  font-size: 0.82rem;
  line-height: 1.12rem;
  font-weight: bold;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .side__content--title {
    font-family: "AvenirNext";
    font-size: 0.87rem;
    line-height: 1.375rem;
    font-weight: bold;
  }
}
.side__content--uploader {
  font-family: "AvenirNext";
  font-size: 0.82rem;
  line-height: 1.12rem;
  font-weight: normal;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .side__content--uploader {
    font-family: "AvenirNext";
    font-size: 0.87rem;
    line-height: 1.375rem;
    font-weight: normal;
  }
}

@media screen and (min-width: 1280px) {
  .noname {
    display: flex;
    align-items: baseline;
  }
}/*# sourceMappingURL=video.css.map */