@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
*::-moz-placeholder {
  color: #000000;
  font-family: "AvenirNext";
  font-size: 0.82rem;
  line-height: 1.12rem;
  font-weight: normal;
}
*:-ms-input-placeholder {
  color: #000000;
  font-family: "AvenirNext";
  font-size: 0.82rem;
  line-height: 1.12rem;
  font-weight: normal;
}
*::placeholder {
  color: #000000;
  font-family: "AvenirNext";
  font-size: 0.82rem;
  line-height: 1.12rem;
  font-weight: normal;
}

@media screen and (min-width: 768px) {
  .video__container {
    background-color: #000000;
  }
}
.video__main {
  width: 100vw;
  height: auto;
}
@media screen and (min-width: 768px) {
  .video__main {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .video__main {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.video__details {
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .video__details {
    padding: 1rem 2.25rem 1rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .video__details {
    padding: 1.5rem 5rem 1.5rem 5rem;
  }
}
.video__details--title {
  font-family: "AvenirNext";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #AFAFAF;
}
@media screen and (min-width: 768px) {
  .video__details--title {
    font-family: "AvenirNext";
    font-size: 2.06rem;
    line-height: 2.75rem;
    font-weight: bold;
    padding-bottom: 2rem;
  }
}
.video__details--comments {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #AFAFAF;
}
@media screen and (min-width: 768px) {
  .video__details--comments {
    bottom: 2.5rem;
    border: none;
  }
}
.video__details--channel {
  font-family: "AvenirNext";
  font-size: 0.82rem;
  line-height: 1.12rem;
  font-weight: normal;
  color: #AFAFAF;
}
@media screen and (min-width: 768px) {
  .video__details--channel {
    font-family: "AvenirNext";
    font-size: 0.87rem;
    line-height: 1.375rem;
    font-weight: normal;
    display: flex;
  }
}
.video__details--bold {
  font-weight: 700;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .video__details--bold {
    margin-right: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .video__details--paragraph {
    margin-right: 3rem;
  }
}
.video__description {
  font-family: "AvenirNext";
  font-size: 0.82rem;
  line-height: 1.12rem;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .video__description {
    font-family: "AvenirNext";
    font-size: 0.87rem;
    line-height: 1.375rem;
    font-weight: normal;
    margin-top: -2rem;
  }
}
.video__comments {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
}
.video__comments--profile {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  position: absolute;
  left: 0rem;
}
.video__comments--header {
  font-family: "AvenirNext";
  font-size: 0.82rem;
  line-height: 1.12rem;
  font-weight: normal;
  font-weight: 700;
  color: #AFAFAF;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .video__comments--header {
    font-family: "AvenirNext";
    font-size: 0.87rem;
    line-height: 1.375rem;
    font-weight: normal;
  }
}
.video__comments--textarea {
  height: 5rem;
  width: 80%;
  padding-bottom: 3rem;
  padding-left: 1rem;
}
.video__comments--submit {
  background-color: #0095FF;
  color: #FFFFFF;
  font-family: "AvenirNext";
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 700;
  height: 2.5rem;
  width: 80%;
  margin-top: 1rem;
  border-radius: 4px;
  border: 1px solid #0095FF;
}
.video__comments--submit:hover {
  cursor: pointer;
  background-color: #0065AD;
}

.icon__views {
  position: absolute;
  bottom: 2.9rem;
  right: 4rem;
}
@media screen and (min-width: 768px) {
  .icon__views {
    bottom: 1.1rem;
    right: 10.5rem;
  }
}

.icon__likes {
  position: absolute;
  bottom: 1rem;
  right: 4rem;
}
@media screen and (min-width: 768px) {
  .icon__likes {
    bottom: 1rem;
    right: 3.5rem;
  }
}

.icon__comment {
  position: absolute;
  background-color: black;
  left: 4.2rem;
  bottom: 0.5rem;
}/*# sourceMappingURL=video.css.map */