@use '../../styles/partials/mixins';
@use '../../styles/partials/colors-variables';
@use '../../styles/partials/typography';

.video__container {

    @include mixins.tablet {
        background-color: colors-variables.$secondary-color1;
    }
}

.video__main {
    width: 100vw;
    height: auto;
    // aspect-ratio: 16/9;

    @include mixins.tablet {
        padding-left: 2.25rem;
        padding-right: 2.25rem;
    }
    @include mixins.desktop {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}